LLM_PROVIDER = "zhipuai"
LLM_NAME = "glm-3-turbo"

SEARCH_BACKEND = "BING"
BING_SEARCH_V7_ENDPOINT = "https://api.bing.microsoft.com/v7.0/search"
BING_MKT = "en-US"
REFERENCE_COUNT = 6
DEFAULT_SEARCH_ENGINE_TIMEOUT = 5

BING_SEARCH_V7_SUBSCRIPTION_KEY = ""

OPENAI_API_KEY = ""

AZURE_ENDPOINT=""
AZURE_API_KEY=""
AZURE_API_VERSION=""

ZHIPUAI_API_KEY=""
